
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mangas";
    @model Test.Models.DataModel.Rootobject
}
<div class="container table-responsive-sm">
    <table class="table table-hover table-condensed">
        <caption>Liste des Mangas</caption>
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col" colspan="3">Nom</th>
                <th scope="col" colspan="5">Description</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var manga in Model.listMangas)
                {
                        <tr>
                            <th scope="row">@manga.ID</th>
                            <td colspan="3">@manga.Name</td>
                            <td colspan="5">@manga.Description</td>
                            <td><a class="btn btn-info" href="@Url.Action("mangaDetails", "Detail", new { id = manga.ID })" role="button">+Info</a></td>
                        </tr>

                }
            }
        </tbody>
    </table>


</div>
